* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding: 0 4rem;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.container {
  display: flex;
  gap: 1rem;
}

.btnLoad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.btnLoad button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background: #000;
  color: white;
  border: none;
  cursor: pointer;
}

.btnClearAll {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #000;
  color: #000;
  background: transparent;
  cursor: pointer;
}

select {
  appearance: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 0;
  font-size: 1rem;
  border-bottom: 1px solid #000;
  background-color: transparent;
  position: relative;
}

.restoStatus {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #000;
}
